.auth-login__container {
    display: flex;
    justify-content: center;
    justify-items: center;
}
.box {
    background: yellowgreen;
    width: 500px;
    height: 450px;
    box-shadow: 5px 5px 14px tomato;
}